streamlit
openai
python-dotenv
pandas
requests

# Note: The requirements below may not be actively used in the current version of the project, but is retained for reference.
boto3
requests-aws4auth
opensearch-py
playwright